
body {
  font-family: "Noto Sans";
  background-color: #F2C7D1;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow-x: hidden;
  color: #1A1617;
  /* overflow-y: hidden; */
}

#question-container {
  position: absolute;
  display: none;
  width: 175%;
  left: -20vw;
  /* display: inline-block; */
  color:  #172335;
}

#question-title {
  font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 28px;
/* identical to box height, or 87% */
margin-top: 100px;
letter-spacing: 0.24em;
}

.question-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
}

#question {
  position: absolute;
  cursor: pointer;
  top: 5vh;
  left: -35vw;
}

#scene {
  height: 100%;
  pointer-events:inherit!important;
}

#intro-1 {
  position: absolute;
  left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}


.intro-svg {
  position: absolute;
  width: 35%;
  left: 35%;
  margin: auto;
  display: block;
  top: 45vh;
}

.intro-text {
  position: relative;
  width: 30%;
  margin: auto;
  display: block;
  padding: 10px 0px;
  opacity: 0;
}


#intro-subtitle {
 text-align: center;
 font-size: 16px;
 /* font-weight: 300; */
 position: relative;
 color: #172335;
 top: 13vh;
 width: 450px;
 right: 10px;
}


#intro-title {
  /* display: none; */
  position: relative;
  left: 0%;
  top: 40vh;
  cursor: pointer;
}

#intro-title svg {
  top: 10vh;
  width: 150%;
}

#scroll-container {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 40vh;
}

#scroll-container h3{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Abel";
  font-size: 16px;
  color: white;
}

#scroll-container h2{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Abel;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #172335;
  padding: 5px;
  letter-spacing: 3px;
}

.next-arrow {
  margin: 0 auto;
  position: relative;
  padding-top: 15px;
  width: 45px;
  cursor: pointer;
}


#up-down {
  animation: up-down ease-in 1.5s infinite;
}

@-webkit-keyframes up-down {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0px);
  }
}

.loader {
  position: absolute;
  opacity: 0;
  width: 50%;
}

#loader-2 {
  opacity: 0;
}

#home-container {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.faq-header {
  letter-spacing: 10px;
}

.faq-header-group p {
  font-family: "Noto Sans";
}

#title-container {
  background-color: white;
  width: 425px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  display: block;
  top: 35vh;
  border-radius: 35px;
  border: 3px solid black;
}

#title {
  position: relative;
  margin: 0 auto;
  display: block;
  left: 40px;
  top: 30px;
  font-size: 1.75rem;
  font-weight: bold;
}

#subtitle {
  position: absolute;
  top: 55px;
  left: 40px;
  font-weight: bold;
  display: none;
}

.phone-frame {
  height:700px;
  position: relative;
  right: 0;
  pointer-events:none;
  z-index: 100;
  left: 31vw;
  padding-top: 25px;
  display: none;
}

#faq-container {
  position: absolute;
  color: #172335;
  font-family: "Abel";
  display: inline-block;
  left: 30vw;
  top: 30vh;
  width: 100%;
}

#faq-container h3 {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  cursor: pointer;
  padding-top: 10px;
}

#faq-container h3:hover {
  text-decoration: underline;
}

#faq-container p {
  display: none;
  font-size: 12px;
  line-height: 20px;
  margin: 6px;
}

#phone-homescreen {
  margin: 0 auto;
  display: block;
  /* visibility: hidden; */
  position: relative;
  width: 300px;
  padding-top: 6vh;
}

.line-break {
  position: absolute;
  background-color: white;
  transform: rotate(90deg);
  width: 283px;
  height: 1px;
  left: 35vw;
  bottom: 255px;
}

.question-subtext-container {
  position: absolute;
  display: inline-block;
  width: 50%;
  left: 50vw;
  bottom: 190px;
}

.question-subtext {
  font-family: Noto Sans;
  font-style: normal;
  /* font-weight: 600; */
  font-size: 12px;
  line-height: 20px;
}

.question-subtext a {
  color: #0078BB;
  text-decoration: none;
}

#link-scam {
  cursor: pointer;
}

#long-con:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.47) both;
}

#link-scam:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.47) both;
}

#promo-scam:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.47) both;
}

#foreign-love:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.47) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#help-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  transform: translate3d(0, -100vh, 0);
  transition: transform 2s cubic-bezier(0, .82, 0, 1.01);
}

#help-container.show {
  transform: translate3d(0, -0vh, 0);
}

#help-heading {
  font-family: Noto Sans;
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 136px;
position: relative;
width: 50%;
left: 50px;
top: 30vh;
display: inline-block;
line-height: 100px;
}

.help-text {
  position: relative;
  font-size: 13px;
  width: 30%;
  padding-right: 100px;
  float: right;
  line-height: 28px;
  bottom: 25vh;
  display: inline-block;
}

#help-resources-title {
  font-weight: bold;
}

#help-resources a {
  color: #0078BB;
  text-decoration: none;
}

#phone-container {
  font-size: 14px;
  position: relative;
  left: 50px;
  top: 20vh;
  font-weight: bold;
}

#phone-number {
  width: 200px;
  height: 60px;
  background-color: black;
  border-radius: 30px;

}

.cancel-btn {
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 10vh;
}

#phone-number p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 15px;
}

#report-btn {
  cursor: pointer;
}

/* #report-btn rect:hover {
  fill: #2894D0;
} */

#link-scam {
  cursor: pointer;
}

#promo-scam {
  cursor: pointer;
}

#long-con {
  cursor: pointer;
}

#foreign-love {
  cursor: pointer;
}
