form.chat *{
  transition:all .5s;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

form.chat {
  margin:0;
  cursor:default;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  margin-top: 75px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

form.chat span.spinner{
  -moz-animation: loading-bar 1s 1;
  -webkit-animation: loading-bar 1s 1;
  animation: loading-bar 1s 1;
  display: block;
  height: 2px;
  background-color: #00e34d;
  transition: width 0.2s;
  position:absolute;
  top:0; left:0; right:0;
  z-index:4
}

form.chat .messages{
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  position:relative;
  height:550px;
  width:100%;
  padding:2% 3%;
  border-bottom:1px solid #ecf0f1;
  bottom: 0px;
}

form.chat ::-webkit-scrollbar {width: 3px; height:1px;transition:all .5s;z-index:10;}
form.chat ::-webkit-scrollbar-track {background-color: white;}
form.chat ::-webkit-scrollbar-thumb {
  background-color: #bec4c8;
  border-radius:3px;
}

form.chat .message{
  display:block;
  width:98%;
  padding:0.5%;
}

form.chat .message p{
  margin:0;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 50%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

form.chat .message:hover .myMessage{
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

form.chat .message:hover .fromThem{
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

form.chat .message:hover date {
  opacity: 1;
}

form.chat .myMessage,.fromThem{
  position: relative;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  clear: both;
  font: 400 15px 'Open Sans', sans-serif;
}

form.chat .myMessage {
  background: #52BDF9;
  color:white;
  float:right;
  clear:both;
  border: 1px solid black;
  border-bottom-right-radius: 20px 0px\9;
  animation: fade-up-chat ease .75s;
}

/* form.chat .myMessage:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 19px;
  border-right: 20px solid #52BDF9;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-left-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
} */

form.chat .myMessage:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat .fromThem {
  background: #E5E5EA;
  color: black;
  float: left;
  clear:both;
  border-bottom-left-radius: 30px 0px\9;
  border: 1px solid black;
  animation: fade-up-chat ease .75s;
}

@keyframes fade-up-chat {
 0%   {
   transform: translateY(20px);
   opacity: 0; }
 100% {
   transform: translateY(0px);
   opacity: 1;}
}

/* form.chat .fromThem:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 19px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
} */

form.chat .fromThem:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat date {
  position:absolute;
  top: 10px;
  font-size:14px;
  white-space:nowrap;
  vertical-align:middle;
  color: #8b8b90;
  opacity: 0;
  z-index:4;
}

form.chat .myMessage date {
  left: 105%;
}

form.chat .fromThem date {
  right: 105%;
}

form.chat input{
  font: 400 13px 'Open Sans', sans-serif;
  border:0;
  padding:0 15px;
  height:10%;
  outline:0;
}

form.chat input[type='text']{
  width:73%;
  float:left;
}

form.chat input[type='submit']{
  width:23%;
  background:transparent;
  color:#00E34D;
  font-weight:700;
  text-align:right;
  float:right;
}

  form.chat .myMessage,form.chat .fromThem{
    font-size:12px;
  }

  form.chat .message:hover .myMessage{
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
  }

  form.chat .message:hover .fromThem{
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
  }

  form.chat .myMessage date,form.chat .fromThem date {
    top: -20px;
    left:auto;
    right:0;
    font-size:12px;
  }

  form.chat .myMessage,
  form.chat .fromThem {
    max-width: 90%;
  }

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

/* DEMO */
.chat-container{
  width:320px;
  height:680px;
  background-color: white;
  background-size:100% 100%;
  left: 32vw;
  top:5vh;
  position:absolute;
  overflow: hidden;
  display: none;
  /* z-index: -10; */
}

.border{
	position:absolute;
	top:4%;right:7%;left:7%;bottom:12%;
	overflow:hidden;
  height: inherit;
  z-index: 10;
}

a.article{
  position:fixed;
  bottom:15px;left:15px;
  display:table;
  text-decoration:none;
  color:white;
  background-color:#00e34d;
  padding: 10px 20px;
  border-radius: 25px;
  font: 400 15px 'Noto Sans', sans-serif;
}

.message-options {
  width: 250px;
  height: 200px;
  position: absolute;
  top: 365px;
  background-color: #E0E0E0;
  border-radius: 30px;
  z-index: 10;
  left: 20px;
  display: none;
}

.message-option-container {
  position: relative;
  top:15px;
  height: 75px;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid black;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
}

.message-option-response {
  font-size: .75rem;
  font-family: "Noto Sans";
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: normal;
}

#message-option-2 {
  top: 30px;
}

.chat-header {
  width: 100%;
  position: absolute;
  top: 10px;
}


/* TOOLTIP */
.tooltip-prompt {
  background-color: transparent;
  display: inline;
  border: none;
}

.outer-hotspot {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: -20px;
  width: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  animation: shrink-grow 2s ease infinite;
}

@keyframes shrink-grow {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.0);
  }
}

.hotspot-icon {
  width: 15px;
  height: 15px;
  top: 11px;
  position: relative;
  background-color: #52BDF9;
  border-radius: 50%;
  margin-top: 5px;
  margin: 0 auto;
  border: 1px solid black;
}

#match-tooltip-1 {
  left: 60vw;
  bottom: 90vh;
}

#match-tooltip-2 {
  left: 25vw;
  bottom: 70vh;
}

#match-tooltip-3 {
  left: 23vw;
  bottom: 55vh;
}

/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
    display: none;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: black transparent transparent transparent;
    bottom: 30px;
    content: "";
    margin-left: -.5em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
    transform:  scale(.6) translateY(-80%);
}

.tool:hover::before,
.tool:focus::before {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
    background: white;
    border-radius: .25em;
    border: 1px solid black;
    color: black;
    content: attr(data-tip);
    margin-left: -9.50em;
    padding: 1em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(50%);
    width: 17.5em;
    bottom: 40px;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after {
        font-size: 1em;
        margin-left: -5em;
        width: 10em;
  }
}
