
/* .background-text {
position: relative;
} */

body {
  background-color: #F3CA7A;
  font-family: "Noto Sans";
  color: #614715;
  overflow-x: hidden;
}

a {
  text-decoration: underline;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#background-match-1 {
  height: 50vh;
  z-index: -100;
  overflow: hidden;
  position: relative;
}
#background-match-1 h1 {
  font-size: 20em;
  color: #614715;
  position: absolute;
  font-weight: 700;
  width: 200%;
  height: 100%;
  margin-top: 10vh;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -webkit-transform:translateX(0%);
  transform:translateX(0%);
  /* Apply animation to this element */
  -webkit-animation: example1 20s linear infinite;
  animation: example1 20s linear infinite;
}
/* Move it (define the animation) */
@-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(20%); }
  100% { -webkit-transform: translateX(-50%); }
}
/* @keyframes example1 {
0%   {
-webkit-transform: translateX(50%);
transform: translateX(50%);
}
100% {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
} */

#background-match-2 {
  height: 50vh;
  overflow: hidden;
  position: relative;
  z-index: -100;
  bottom: 5vh;
}
#background-match-2 h1 {
  font-size: 20em;
  color: #614715;
  position: absolute;
  font-weight: 700;
  width: 200%;
  height: 100%;
  margin-top: -10vh;
  text-align: center;
  /* Starting position */
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  /* Apply animation to this element */
  -webkit-animation: example2 20s linear infinite;
  animation: example2 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes example2 {
  0%   {
    -webkit-transform: translateX(00%); /* Firefox bug fix */
    transform: translateX(00%);
  }
  100% {
    -webkit-transform: translateX(-50%); /* Firefox bug fix */
    transform: translateX(-50%);
  }
}

.potato-icon {
  width: 45px;
  margin: 10px;
  left: 27px;
  top: 20px;
  position: fixed;
  z-index: 10000;
}

.title {
  font-family: "Abel";
  font-size: 1.7rem;
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  top:1vw;
  letter-spacing: 5px;
  z-index: -100;
}


#potato-icon-hover {
  left: 11px;
  top: 14px;
  width: 65px;
  position: fixed;
  display: none;
}

#menu-links {
  /* display: none; */
  position: fixed;
  list-style-type: none;
  font-family: "Abel";
  margin: 0;
  z-index: 100;
  padding: 25px;
  font-size: 1.5rem;
  width: 15vw;
   height: 100vh;
   background-color: #333333;
   top: 0;
   left: 0;

   transform: translate3d(-30vw, 0, 0);
   transition: transform .5s cubic-bezier(0, .82, 0, 1.01);
}

#menu-links.show {
    transform: translate3d(0vw, 0, 0);
}

.current-menu a {
  font-size: 2rem;
}

#menu-links li {
  padding: 10px;
}

#menu-links a {
    color: white;
}

#menu-links li:first-child {
  margin-top: 75px;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% { transform: translateY(-50%); opacity: 0;}
  100% { transform: translateY(0%); opacity: 1}
}

@-webkit-keyframes slide-in {
  0% { transform: translateY(-50%); opacity: 0}
  100% { -webkit-transform: translateY(0%); opacity: 1}
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

#heart-svg-1 {
  display: inline-block;
  position: absolute;
  width: 40px;
  left: 20vw;
  height: 70vh;
  animation: love 1.5s infinite ease-in-out;
}

#heart-svg-2 {
  display: inline-block;
  position: absolute;
  width: 20px;
  left: 80vw;
  height: 50vh;
  animation: love 1.5s infinite ease-in-out;
}

#heart-svg-3 {
  display: inline-block;
  position: absolute;
  width: 10px;
  left: 10vw;
  height: 100vh;
  animation: love 1.5s infinite ease-in-out;
}

.help-grid {
  grid-column-start: 7;
  grid-column-end: 7;
}

#help-btn {
  position: fixed;
  width: 150px;
  top: 5%;
  z-index: 100;
  /* left: 80%; */
}

/* .grid {
display: grid;
grid-template-columns: repeat( 7, minmax(100px, 1fr) );
grid-gap: 10px;
} */

.vl {
  border-left: 2px solid black;
  height: 20px;
  bottom: 50px;
  margin-left: 35%;
  position: relative;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* grid-item {
display: grid;
align-items: center;
justify-items: center;
} */


/* TEXT MESSAGING */

.phone-frame {
  width:300px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 45px;
}

#match-2-svg {
  display: none;
}

#wrapper {
  grid-column-start: 3;
  grid-column-end: 6;
  /* margin: 0px auto; */
}

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.message-left .message-time {
  display: block;
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  padding-top: 4px;
  color: #ccc;
  font-family: Courier;
}

.message-right .message-time {
  display: block;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  padding-top: 4px;
  color: #ccc;
  font-family: Courier;
}

.message-left {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 30px;
}

.message-left .message-text {
  max-width: 80%;
  display: inline-block;
  background: #fff;
  padding: 10px;
  font-size: 12px;
  color: #999;
  border-radius: 30px;
  font-weight: 100;
  line-height: 1.5em;
}

.message-right {
  text-align: right;
  margin-bottom: 16px;
}

.message-right .message-text {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
}

.chat {
  padding: 20px;
  width: auto;
  margin: auto;
  position: absolute;
  left: 30%;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#scene {
  grid-column-start: 6;
  position: fixed;
  grid-column-end: 8;
  margin-right: 50px;
  top:0vh;
  left:5vw;
  width: 25vw;
  -webkit-animation: fadein 4s;
  z-index: 10;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.scam-explanation {
  position: relative;
  color: #614715;
  width: 100%;
  margin-top:30vh;
}

.scam-explanation h3 {
  font-family: "Abel";
  font-size: 32px;
  line-height: 28px;
  /* identical to box height, or 87% */
  margin: 0;
  letter-spacing: 0.24em;
}

.scam-explanation h4 {
  font-family: "Abel";
  font-size: 16px;
  margin-top: 5;
  text-transform: uppercase;
  letter-spacing: 0.22em;
}

.scam-explanation p {
  font-size: 12px;
  line-height: 22px;
}

.explanation {
  opacity: 0;
  position: fixed;
  width: 30%;
  top: 45vh;
  left: 65vw;
  color: #614715;
}

.explanation h4 {
  font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
text-transform: uppercase;
letter-spacing: 0.22em;
margin: 0;
}

.explanation-text {
  margin-top: 16px;
  font-family: Abel;
  /* font-style: italic; */
  font-size: 1.5rem;
  line-height: 30px;
  bottom: 20px;
  letter-spacing: 0.02em;
}

#disclaimer {
  font-size: .9rem;
  position: fixed;
  top: 92vh;
  left: 55px;
  color: white;
  z-index: -10;
}



/* For MATCH */
.match-inner {
  height: 95vh;
  position: absolute;
  /* z-index: -10; */
  bottom: 3vw;;
  right: 2.1vw;
}

.phone-frame {
  z-index: 10;
}

#match-inner-1 {
  transform: translate3d(0, 0, 0);
}

#match-inner-2 {
  display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.view-button-back {
  position: absolute;
  animation: up-down ease-in 1.5s infinite;
  cursor: pointer;
}
.view-button-front {
  cursor: pointer;
}

@-webkit-keyframes up-down {
  0%, 100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-1px);
  }
}

@-webkit-keyframes slide-left-leave {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@-webkit-keyframes slide-left-enter {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.next {
  background-color: #52BDF9;
  color: white;
  border:1.5px solid black;
  font-size: 2rem;
  text-align: center;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 60vw;
  margin-top: 25px;
  cursor: pointer;
}

.round {
  position: relative !important;
  border-radius: 50%;
}

.match-text{
  position: relative;
  opacity: 1;
}

.header {
  font-family: "Abel";
  font-size: 1.25rem;
  animation: fade-up 1s ease;
}

@keyframes fade-up {
  0%   { transform: translateY(50px); }
  100% { transform: translateY(0px); }
}

.subtext {
  line-height: 25px;
  font-family: "Noto Sans";
  font-size: .75rem;
}

.bg-text {
  font-family: "Abel";
  position: fixed;
  /* opacity: .5; */
}

/* TOOLTIP */
.tooltip-prompt {
  background-color: transparent;
  display: inline;
  border: none;
}

.outer-hotspot {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: -20px;
  width: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  animation: shrink-grow 2s ease infinite;
}

@keyframes shrink-grow {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.0);
  }
}

.hotspot-icon {
  width: 15px;
  height: 15px;
  top: 11px;
  position: relative;
  background-color: #52BDF9;
  border-radius: 50%;
  margin-top: 5px;
  margin: 0 auto;
  border: 1px solid black;
}


/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
  display: none;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: black transparent transparent transparent;
  bottom: 30px;
  content: "";
  margin-left: -.5em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
  transform:  scale(.6) translateY(-80%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
  background: white;
  border-radius: .25em;
  border: 1px solid black;
  color: black;
  content: attr(data-tip);
  margin-left: -9.50em;
  padding: 1em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
  transform:  scale(.6) translateY(50%);
  width: 17.5em;
  bottom: 40px;
}

.tool:hover::after,
.tool:focus::after  {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after {
    font-size: 1em;
    margin-left: -5em;
    width: 10em;
  }
}
