body {
  font-family: "laca", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: black;
}

div {
  /* opacity: 0; */
}

#scroll1 h1 {
  position: absolute;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #adadad; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  cursor: pointer;
  overflow-y: scroll;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 40px;;
  text-decoration: none;
  font-size: 25px;
  color: #303030;
  display: block;
  transition: 0.3s;
}

.sidenav :last-child {
  padding-bottom: 120px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #456ae6;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.fa-bars {
  color:white;
  cursor:pointer;
  font-size: 2rem;
  margin: 25px;
  color: #456ae6;
}


.count {
  position: absolute;
  font-size: 1.5rem;
  color: #456ae6;
  /* z-index: 1000000; */
  left: 95vw;
  top: 5vh;
}

.scroll-container {
  position: fixed;
  background-color: black;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

/* Scroll 0 */
#scroll0 {
  margin: 0 auto;
  width: 0px;
}

#scroll0-h1 {
  color: white;
  position: absolute;
  margin: 0 auto;
  max-width: 500px;
  /* top: 50%; */
  /* left: 0;
  top: 30%; */
  text-align: center;
}


/* Scroll 1 */
#scroll1 {
  height: 100vh;
  width:100vw;
  opacity: 0;
  position: absolute;
  background-color: black;
  vertical-align: middle;
}

#scroll1 h1 {
  /* position: absolute; */
  /* margin: 0 auto;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%); */
  width:100%;
  text-align: center;
}


/* h1 {
  width: 100%;
  text-align: center;
  margin: auto;
  position: fixed;
  font-weight: 800;
} */

#scroll1-title {
  color: white;
  margin-top: 10vh;
}

#scroll1-black {
  top: 50%;
  color: white;
  font-size: 5rem;
}

#scroll1-white {
  top: 50%;
  font-size: 5rem;
}

/* Scroll 2 */
#scroll2 {
  height: 100vh;
  width:100vw;
  opacity: 0;
  position: absolute;
}

#scroll2 h1{
  position: absolute;
  width: 100%;
  text-align: center;

}

#scroll2-push {
  width: 100vw;
  height: 50vh;
  position: absolute;
  opacity: 0;
  background-color: white;
}

#scroll2-nice {
  color: black;
}

#scroll2-push-text {
  color: white;
}

/* Scroll 3 */

#scroll3-push {
  width: 100vw;
  height: 50vh;
  position: absolute;
  opacity: 0;
  background-color: white;
}

#scroll3-boink {
  color: black;
  width: 100%;
  text-align: center;
}

/* Scroll 6 */

#scroll6-push {
  width: 100vw;
  height: 50vh;
  position: absolute;
  opacity: 0;
  background-color: white;
}

#scroll6-scroll-1 {
  position: absolute;
  font-family: "Open Sans";
  margin-top: 30vh;
  font-size: 8rem;
  font-weight: 800;
  margin-left: 30%;
  color: #283845;
}

#scroll6-scroll-2 {
  position: absolute;
  font-family: "Open Sans";
  margin-top: 30vh;
  font-size: 8rem;
  font-weight: 800;
  margin-left: 49%;
  color: #283845;
  z-index: 1000;
}

#scroll6-scroll-3 {
  position: absolute;
  font-family: "Open Sans";
  margin-top: 30vh;
  font-size: 8rem;
  font-weight: 800;
  margin-left: 57%;
  color: #283845;
}

.oval {
  position: absolute;
  width: 160px;
  height: 80px;
  background: #111d3b;
  border-radius: 50%;
  left: 47vw;
  top: 65vh;
}

/* Scroll 11 */
#scroll11-ocean {
  position: absolute;
  z-index: 100;
  background-color: #111d3b;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("images/ocean.jpg");
}


#scroll11-ocean h1 {
  position: absolute;
  margin: auto;
  left: 10%;
  top: 35vh;
  font-size: 5rem;
  color: #02141f;
}

#scroll11-ocean h2 {
  position: absolute;
  margin: auto;
  left: 10%;
  top: 55vh;
  font-weight: 400;
  font-size: 3rem;
  color: #02141f;
}

#scroll11-ocean h3 {
  position: absolute;
  margin: auto;
  left: 70%;
  top: 55vh;
  font-weight: 400;
  font-size: 3rem;
  color: #02141f;
}

#nemo {
  position: absolute;
  left: 10%;
  top: 50%;
  opacity: 0;
  width: 15%;
}

#diver {
  position: absolute;
  left: 50%;
  top: 45%;
  opacity: 0;
  width: 25%;
}

#shark {
  position: absolute;
  left: -20%;
  top: 30%;
  opacity: 0;
  width: 45%;
}

#blood {
  position: absolute;
  left: 120%;
  top: 30%;
  opacity: 0;
  width: 50%;
}

/* Scroll 22 */
#dark-ocean {
  position: absolute;
  z-index: 150;
  background-color: #111d3b;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Scroll 25 */
#dark-in-here {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 80%;
  top: 80%;
}

#ocean-middle {
  color: white;
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  left: 20%;
  top: 30%;
}

.glowing-orb {
  background-color:transparent;
  position: absolute;
  z-index: 100;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 2s linear 1s infinite;
  background-color: #8a2c4f;
}

.glowing-orb-small {
  background-color:transparent;
  position: absolute;
  width:75px;
  height:75px;
  border-radius:50%;
  box-shadow: 0 0 8px #a1335c, inset 0 0 8px #a1335c;
  -webkit-animation: pulse 2s linear 1s infinite;
  background-color: #63233b;
}

#orb-1 {
  margin: auto;
  left: 45%;
  top: 30vh;
}

#orb-2 {
  margin: auto;
  left: 35%;
  top: 20vh;
}

#orb-3 {
  margin: auto;
  left: 75%;
  top: 40vh;
}

#orb-4 {
  margin: auto;
  left: 25%;
  top: 70vh;
}

#orb-5 {
  margin: auto;
  left: 65%;
  top: 80vh;
}

#orb-6 {
  margin: auto;
  left: 15%;
  top: 30vh;
}

#orb-7 {
  z-index: -10;
  margin: auto;
  left: 25%;
  top: 40vh;
}

#orb-8 {
  z-index: -10
  margin: auto;
  left: 15%;
  top: 80vh;
}

#orb-9 {
  z-index: -10
  margin: auto;
  left: 60%;
  top: 60vh;
}

#orb-10 {
  z-index: -10
  margin: auto;
  left: 80%;
  top: 80vh;
}

#orb-11 {
  z-index: -10
  margin: auto;
  left: 63%;
  top: 30vh;
}

#orb-12 {
  z-index: -10
  margin: auto;
  left: 89%;
  top: 38vh;
}

#glowing-orb-bg {
  position: absolute;
  z-index: -100;
  top: 10vh;
  max-height: 70%;
}

#glowing-orb-bg-2 {
  position: absolute;
  left: 50vw;
  top: 13vh;
  z-index: -100;
  max-height: 70%;
}

#deep-sea {
  position: absolute;
  font-size: 5rem;
  color: #ffdeea;
  left: 20%;
  top: 30%;
  z-index: 10;
}

#depth {
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffdeea;
  position: absolute;
  left: 5%;
  top: 90%;
}


@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
  50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
  100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}
