
body {
  font-family: "Noto Sans";
  background-color: #FEB6D0;
  margin: 0;
  padding: 0;
}

.intro-svg {
  position: relative;
  width: 30%;
  margin: auto;
  display: block;
}

.intro-text {
  position: relative;
  width: 20%;
  margin: auto;
  display: block;
  bottom: 38vh;
}

#button-2{
  display: none;
}

#button-3{
  display: none;
}

#button-4{
  display: none;
}

.round:hover {
  background-color: #ddd;
  color: black;
}


.next {
  background-color: #52BDF9;
  color: white;
  border:1.5px solid black;
  font-size: 2rem;
  text-align: center;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 48vw;
  top: 70vh;
}

.round {
  position: absolute;
  border-radius: 50%;
}


#intro-text-1 {
  width: 100%;
  left: 14vw;
}

#delivered {
position:relative;
left: 15vw;
font-size: 1rem;
}

#intro-2 {
  opacity: 0;
}

#intro-3 {
  opacity: 0;
}

#intro-4 {
  opacity: 0;
}

#intro-text-2 {
  opacity: 0;
  position: absolute;
  width: 100%;
  right: 5vw;
}

#loader {
  position: absolute;
  width: 25%;
  top: 5vh;
}

#intro-subtitle {
 text-align: center;
 font-size: 1rem;
 font-weight: 700;
 position: relative;
 top: 10vh;
}

#intro-title {
  /* display: none; */
  position: absolute;
  left: 30%;
  margin-left: -50px;
  top: 30%;
  margin-top: -50px;
  opacity: 0;

}

#intro-title svg {
  top: 10vh;
  width: 70%;
}

#intro-text-1-div {
  opacity: 0;
}

#loader {
  opacity: 0;
}

.help-text {
  position: absolute;
  width: 100%;
  font-size: .8rem;
  font-style: italic;
  left: -5vw;
  top: 10vh;
  opacity: 0;
}

.vl {
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
50% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
