body {
  font-family: "Muli";
}

.grid-item-color h3{
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 5px;
}

.grid-item {
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 100px;
  font-size: 30px;
  text-align: center;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .grid-item {
    background-color: black;
  }
  .grid-item-grow{
    background-color: black;
    padding: 500px;
  }
  .circle {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-item-color {
    display: none;
  }

}

@media only screen and (max-width: 800px) {
  .circle {
    transition: .5s;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 0%;
  }
}

@media only screen and (max-height: 350px) {
  .grid-item-color {
    display: none;
  }
  .circle {
    transition: .5s;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
  }
}

@media only screen and (max-height: 300px) {
  .grid-item-color {
    display: none;
  }
  .circle {
    transition: .5s;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 25%;
    position: absolute;
    top: 10%;
    left: 30%;
  }
}
