/* .a:after {
content: " ";
display: block;
border-bottom: 10px solid black;
width: 150px;
} */


body {
  height: 100vh;
  font-family: agency-fb-wide, monospace;
  overflow-x: hidden;
  font-size: .8rem;
  background-color: #faf8f2;
}

#intro {
  position: absolute;
  text-align: center;
  z-index: 100;
  margin: auto;
  display: inline-block;
  left: 35%;
  top: 70%;
}

#intro a {
  font-size: 1.5rem;
  color: #226CE0;
}

.components-header {
  background: #faf8f2;
}

.fade {
  opacity: 0;
}

.horseshoe-module-flipped {
  cursor: pointer;
  position: relative;
}

.hinge-module {
  cursor: pointer;
  position: relative;
}

.tittle-module {
  cursor: pointer;
  position: relative;
}

.six-crossbar-module {
  cursor: pointer;
  position: relative;
}

.three-crossbar-module-horizontal {
  cursor: pointer;
  position: relative;
  background: black;
}

.three-crossbar-module-expanded-2 {
  position: relative;
  background: black;
}

.components-text {
  opacity: 0;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 1vw;
  top: 10vh;
  width: 15%;
  z-index: 1000;
}

.components-header h2 {
  width: 100px;
  opacity: 0;
  display: inline-block;
  position: relative;
  left: 18vw;
  z-index: 10;
  top: 20vh;
  padding: 0px 2.25vw;
  font-size: 1rem;
}

#components:hover {
  cursor: pointer;
  color: #226CE0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0px;
  grid-auto-flow: dense;
  position: relative;
  margin: auto;
  top: 15vh;
  left: -1%;
  background-color: #faf8f2;
}


.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > * {
  background: rgba(0,0,0,0.1);
  border: 0px black solid;
}

.grid-intro {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0px;
  grid-auto-flow: dense;
  position: relative;
  margin: auto;

  background-color: #faf8f2;
}


.grid-intro::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-intro > * {
  background: rgba(0,0,0,0.1);
  border: 0px black solid;
}

.square-module {
  cursor: pointer;
  position: relative;
}

.square-module-top {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 8;
  background: black;
}

.square-module-top-expanded-2 {
  /* grid-row: 4;
  grid-column-start: 3;
  grid-column-end: 8; */
  background: black;
}

.square-module-left {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column: 5;
  background: black;
}

.square-module-left-expanded {
  /* grid-row-start: 4;
  grid-row-end: 9;
  grid-column: 5; */
  background: black;
}

.square-module-left-expanded-2 {
  /* grid-row-start: 4;
  grid-row-end: 7;
  grid-column: 3; */
  background: black;
}

.square-module-bottom {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 8;
  background: black;
  float: right;
}

.square-module-bottom-expanded {
  /* grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 8; */
  /* position: absolute;
  top: 0;
  right: 0; */
  background: black;
}

.square-module-bottom-expanded-2 {
  /* grid-row: 6;
  grid-column-start: 0;
  grid-column-end: 0; */
  background: black;
}

.square-module-right {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column: 7;
  background: black;
}

.square-module-right-expanded {
  /* grid-row-start: 4;
  grid-row-end: 9;
  grid-column: 7; */
  background: black;
}

/* HORSESHOE */
.horseshoe-module {
  cursor: pointer;
  position: relative;
}

.horseshoe-module-top {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 10;
  grid-column-end: 13;
  background: black;
}

.horseshoe-module-top-expanded{
  background: black;
}

.horseshoe-module-top-expanded-2{
  background: black;
}

.horseshoe-module-bottom {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 10;
  grid-column-end: 13;
  background: black;
}

.horseshoe-module-right {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 12;
  grid-column-end: 12;
  background: black;
}]

/* HORSESHOE FLIPPED */
.horseshoe-module-flipped {
  position: relative;
}

.horseshoe-module-flipped-top {
  /* grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 10;
  grid-column-end: 13; */
  background: black;
}

.horseshoe-module-flipped-top-expanded{
  background: black;
}

.horseshoe-module-flipped-top-expanded-2{
  background: black;
}

.horseshoe-module-flipped-bottom {
  /* grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 10;
  grid-column-end: 13; */
  background: black;
}

.horseshoe-module-flipped-right {
  /* grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 12;
  grid-column-end: 12; */
  background: black;
}

.hinge-module-top {
  /* grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 15;
  grid-column-end: 18; */
  background: black;
}

.hinge-module-top {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 15;
  grid-column-end: 18;
  background: black;
}

.hinge-module-top-expanded {
  background: black;
}

.hinge-module-top-expanded-2 {
  background: black;
}

.hinge-module-left {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 15;
  grid-column-end: 15;
  background: black;
}

.hinge-module-left-expanded {
  background: black;
}

.hinge-module-left-expanded-2 {
  background: black;
}

.tittle-module-top {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 20;
  grid-column-end: 20;
  background: black;
}

.tittle-module-top-expanded {
  background: black;
}

.tittle-module-top-expanded-2 {
  background: black;
}

.tittle-module-side {
  position: relative;
}

.tittle-module-side-expanded {
  position: relative;
}

.tittle-module-side-expanded-2 {
  position: relative;
}

.three-crossbar-module{
  cursor: pointer;
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 23;
  grid-column-end: 23;
  background: black;
}

.three-crossbar-module-expanded{
  background: black;
}

.three-crossbar-module-expanded-2{
  background: black;
}

.three-crossbar-module-horizontal-expanded {
  background: black;
}

.three-crossbar-module-horizontal-expanded-2 {
  background: black;
}

.six-crossbar-module {
  cursor: pointer;
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 26;
  grid-column-end: 26;
  background: black;
}

.six-crossbar-module-expanded {
  background: black;
}

.six-crossbar-module-expanded-2 {
  background: black;
}

/* INTRO FONT */
/* G Letter */

#intro-square-bottom-g {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end: 10;
  background: black;
  bottom: 500;
}

#intro-square-left-g {
  /* grid-row: 4 / 7; */
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column: 7;
  background: black;
}

#intro-square-right-g {
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column: 9;
  background: black;
}

#intro-square-top-g {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 7;
  grid-column-end: 10;
  background: black;
}


#intro-hinge-side-g {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 9;
  grid-column-end: 9;
  background: black;
}

#intro-hinge-bottom-g {
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 7;
  grid-column-end: 10;
  background: black;
}


/* R Letter */

#intro-hinge-top-r {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 11;
  grid-column-end: 14;
  background: black;
}

#intro-hinge-left-r {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 11;
  grid-column-end: 11;
  background: black;
}


/* I Letter */
#intro-tittle-module-top-i {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 15;
  grid-column-end: 15;
  position: relative;
}


#intro-three-crossbar-module-i {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 15;
  grid-column-end: 15;
  background: black;
}

/* D Letter */

#intro-square-bottom-d {
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 17;
  grid-column-end: 20;
  background: black;
}

#intro-square-left-d {
  /* grid-row: 4 / 7; */
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column: 17;
  background: black;
}

#intro-square-right-d {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column: 19;
  background: black;
}

#intro-square-top-d {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 17;
  grid-column-end: 19;
  background: black;
}

#intro-three-crossbar-module-d {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 19;
  grid-column-end: 19;
  background: black;
}

/* L Letter */
#intro-tittle-module-side-l {
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 22;
  grid-column-end: 22;
  background: black;
  position: relative;
}

#intro-six-crossbar-module-l {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 21;
  grid-column-end: 21;
  background: black;
}

/* O Letter */

#intro-square-bottom-o {
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 24;
  grid-column-end: 27;
  background: black;
}

#intro-square-left-o {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 24;
  grid-column-end: 24;
  background: black;
}

#intro-square-right-o {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 26;
  grid-column-end: 26;
  background: black;
}

#intro-square-top-o {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 24;
  grid-column-end: 27;
  background: black;
}

/* C Letter */
#intro-horseshoe-flipped-top-c {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 28;
  grid-column-end: 31;
  background: black;
}

#intro-horseshoe-flipped-left-c {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 28;
  grid-column-end: 28;
  background: black;
}

#intro-horseshoe-flipped-bottom-c {
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column-start: 28;
  grid-column-end: 31;
  background: black;
}

/* K Letter */
#intro-tittle-module-top-k {
  grid-row-start:7;
  grid-row-end: 7;
  grid-column-start: 33;
  grid-column-end: 33;
  position: relative;
}

#intro-tittle-module-top-k2 {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 34;
  grid-column-end: 34;
  position: relative;
}

#intro-six-crossbar-module-k {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 32;
  grid-column-end: 32;
  background: black;
}

#intro-three-crossbar-module-k {
  grid-row-start: 8;
  grid-row-end: 10;
  grid-column-start: 34;
  grid-column-end: 34;
  background: black;
}



/* RESPONSIVE DESIGN */

@media only screen and (min-width: 1300px) {
  body {
    font-size: 1rem;
  }
  .grid {
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
    left: 5%;
  }
}
